

.visual{
  padding: 0;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}


@media screen and (max-width:780px){

  .caption{
    margin: 0;
  }


  .contents{
    width:80%;
    margin: auto;
    margin-top: 70;
    /* border: 3px solid #5ab4bd; */
    color:#565656;
    border-radius: 10px;
    background: #ddd;
    overflow: auto;
    min-width: 0;
    padding: 25px 25px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  }

  p {
    font-size: 11;
    padding: 0;
    margin: 7;
  }
  h1{
    font-size: 18;
  }
  h2{
    font-size: 12;
  }
  h3{
    font-size: 12;
  }
  .contents img{
    /* float: center */
    width: 97%;
    border: 10px solid white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);

  }

  .visual{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
  }
}

@media screen and (min-width:781px){

  .caption{
    margin-left: 3%;
    margin-bottom: 10px;
  }


  .contents{
    width:70%;
    margin: auto;
    margin-top: 70;
    /* border: 3px solid #5ab4bd; */
    color:#565656;
    border-radius: 10px;
    background: #ddd;
    overflow: auto;
    min-width: 0;
    padding: 20px 50px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  }
  p {
    font-size: 20;
  }
  h1{
    font-size: 30;
  }
  h2{
    font-size: 20;
  }
  h3{
    font-size: 20;
  }
  .contents img{
    width: 90%;
    border: 10px solid white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  }
  .visual{
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
